.vscode
.idea

.editorconfig

cmake-build-debug

build
build1

/kaolin-env

/src/*.ply
/src/*.pcd

/protobuf/*.cc
/protobuf/csharp/
/protobuf/*.h

/src/ref

/src/python/__pycache__
/src/python/logs
/src/python/protobuf/__pycache__
/src/python/*.ply

/src/python/test

/test_point_clouds